/*RESET*/
body {
  margin: 0;
  padding: 0;
  background: #81e4ed;
  font-family: sans-serif; }

ul,
li {
  padding: 0;
  margin: 0;
  list-style-type: none; }

/*END RESET*/
.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center; }

/*MENU*/
header {
  background: #e8ebf1; }

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;
  margin: auto;
  padding: 24px 0; }

.always-class {
  position: absolute;
  left: 0;
  top: 100%;
  width: 200px;
  background: white;
  min-height: 100%; }

.nav_list {
  list-style-type: none;
  display: flex; }
  .nav_list_item {
    position: relative;
    width: 100px;
    white-space: nowrap;
    text-align: center;
    border-top: 5px solid transparent;
    color: #000;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 8px; }
    .nav_list_item_link {
      text-align: left; }

li.open-class {
  background: white; }

.nav_list li.isOpenLI {
  position: relative;
  background: transparent; }

.nav_list_item_link a {
  color: black; }

.sub_nav_list {
  height: 0; }

.sub_nav_list li:first-child {
  background: white;
  top: 100%;
  position: absolute;
  width: 250px;
  left: 0;
  padding: 0;
  z-index: 1; }

.nav_list_item_link a {
  padding: 16px; }

.nav_list .linkOpen {
  background: white;
  border-top: 5px solid #2aacc8; }

.nav_list .linkOpen.isOpen,
.nav_list .linkOpen.isOpenService {
  background: transparent;
  border-top: 5px solid transparent; }

.colapsing {
  transition: height 2s ease; }

.style_block {
  display: block; }

/*end MENU*/
main .carousel .control-dots .dot {
  width: 14px;
  height: 14px; }

main .carousel.carousel-slider {
  max-width: 1000px;
  margin: 0 auto;
  padding: 19px 0 48px 0; }

.container_slider {
  background: #6ec2ca; }
